body {
  background: #3333330F;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px
  
}

.form {
  width: 500px;
  height: 688px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form .footer-resevesation-right {
  font-size: 14px;
}

.content-form {
  display: flex;
  flex-direction: column;
}

.content-form .logo {
  margin-bottom: 40px;
}

.content-form .welcome-head {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content-form .welcome-head .welcome{
  font-style: normal;
  font-size: 20px;
  opacity: 1;
}

.content-form .welcome-head .coursify{
  color: #1ABC9C;
  font-style: normal;
  font-size: 22px;
  font-weight: bold;
  opacity: 1;
}

.content-form .explanation {
  margin-bottom: 40px;
  font-size: 16px;
  width: 95%;
  font-style: normal;
  letter-spacing: 0;
  opacity: 1;
  line-height: 25px;

}

.content-form .titles-input {
  display: block;
  /* justify-content: space-between; */
  margin-bottom: 20px;
  position: relative;
}

.content .login {
  position: absolute; 
  
}

.animation-login {
  animation: changeLogin 3s;
  animation-fill-mode: forwards;
}

.animation-register {
  animation: changeRegister 3s;
  animation-fill-mode: forwards
}

.back-login {
  animation: backLogin 3s;
  animation-fill-mode: forwards;
}

.back-register {
  animation: backRegister 3s;
  animation-fill-mode: forwards;
}

.content .register {
  position: absolute;
  right: 0; 
}


@keyframes changeLogin {
  from {
    left: 0;
  }

  50% {
    left: 40%;
  }

  to {
    left: 87%;
  }
}

@keyframes changeRegister {
  from {
    right: 0;
  }

  50% {
    right: 40%;
  }

  to {
    right: 80%;
  }
}

@keyframes backLogin {
  from {
    right: 0;
  }

  50% {
    right: 40%;
  }

  to {
    right: 87%;
  }
}
@keyframes backRegister {
  from {
    left: 0;
  }

  50% {
    left: 40%;
  }

  to {
    left: 80%;
  }
}

.content-form .inputs-login {
  display: flex;
  flex-direction: column;
}

.content-form .none {
  display: none;
  transition: ease-in-out;
  transition-delay: 3s;
}


.content-form .login {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 4px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #C4C4C4;
}

.content-form .register {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 4px;
  margin: 5px;
  color: #C4C4C4;
  cursor: pointer;
}
.content-form .border {
  border-bottom: 5px solid #1ABC9C;
  color: #000;
}

.content-form .inputs-login input {
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  padding: 8px 15px;
  outline: none;
  margin-top: 20px;
}

.content-form .inputs-register input {
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  padding: 8px 15px;
  outline: none;
  /* margin-top: 20px; */
}

.content-form .inputs-login p{
  font-size: 16px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.content-form .inputs-login .button{
  display: flex;
  justify-content: center;
}


.content-form .inputs-register .button{
  display: flex;
  justify-content: center;
}
.content-form .inputs-login button{
  width: 160px;
  height: 40px;
  background-color: #1ABC9C;
  box-shadow: 0 0 10px #33333326;
  outline: none;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  transition: filter 0.3s;
}

.content-form .inputs-register button{
  width: 160px;
  height: 40px;
  background-color: #1ABC9C;
  box-shadow: 0 0 10px #33333326;
  outline: none;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  transition: filter 0.3s;
  margin-top: 5px;
}

.content-form .inputs-login button:hover {
  filter: brightness(80%);
}

.content-form .inputs-register button:hover {
  filter: brightness(80%);
}

.inputs-register {
  /* background-color: rosybrown; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 35px;
}

.inputs-register .select{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5px
  /* background-color: saddlebrown; */
}

.inputs-register .select select {
  height: 35px;
  width: 97px;
  outline: none;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #3333330F;
  border: 1px solid #C4C4C4;
  background-color: #fff;
  padding-left: 20px;
  color: #51627F;
  font-style: normal;
  opacity: 1;
}

.inputs-register .select 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputs-register .select input {
  width: 100%;
}

#slider {
  width: 80%;
  max-width: 700px;
  height: 600px;
  min-width: 320px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.dots {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}

#slider .dots .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1ABC9C;
  opacity: 1;
}

#slider .dots span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #A8B4B1;
  transition: opacity 1000ms
}

#slider img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 800ms;
  margin-bottom: 20px;
}

#slider img.selected { 
  opacity: 1;
}


